@font-face {
  font-family: 'ComicShannsMono Regular';
  src: url(./ComicShannsMono-Regular.ttf);
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url(./JetBrainsMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: '霞鹜文楷';
  src: url(./霞鹜文楷.ttf);
}
