.code-JetBrains {
  display: none;
}
.code-JetBrains + [class^='language-'] code {
  font-family: 'JetBrains Mono', 'ComicShannsMono Regular', '思源黑体', '微软雅黑';
}

.viewer-wrap img {
  cursor: zoom-in;
}

.viewer-wrap img + img {
  margin-top: 8px;
}

.content-body {
  backdrop-filter: blur(10px);
}
