@import './scrollbar.css';

:root {
  --vp-font-family-base: /* 'ComicShannsMono Regular', */ 'LXGWWenKai', '思源黑体', '微软雅黑' !important; /* normal text font */
  --vp-font-family-mono: 'ComicShannsMono Regular', 'LXGWWenKai', '思源黑体', '微软雅黑' !important; /* code font */

  // 代码高亮bg
  --vp-code-line-highlight-color: rgba(96, 215, 255, 0.2);
  --vp-nav-bg-color: rgba(255, 255, 255, 0.3);

  // 主题色
  --tg-txt-color: #2e405b;
  --tg-txt-color-1: #3b4f6b;
  --tg-txt-color-2: #4a5f7b;
  --tg-bg-color: #fff;
  --tg-txt-shadow-color: rgba(0, 0, 0, 0.04);

  --sider-width: 160px;
  --main-bg-image: linear-gradient(to right, var(--tg-txt-shadow-color) 1px, transparent 1px), linear-gradient(to bottom, var(--tg-txt-shadow-color) 1px, transparent 1px);
}

.dark {
  --vp-code-line-highlight-color: rgba(0, 110, 146, 0.2);
  --vp-nav-bg-color: rgba(0, 0, 0, 0.3);

  // --tg-txt-color: #9caae0;
  // --tg-txt-color-1: #b0c2e8;
  // --tg-txt-color-2: #c0cde0;
  // --tg-bg-color: #1c2a3b;
  --tg-txt-color: rgb(167, 189, 210);
  --tg-txt-color-1: rgb(158, 181, 201);
  --tg-txt-color-2: #c0cde0;
  --tg-bg-color: #181a1b;
  --tg-txt-shadow-color: rgba(255, 255, 255, 0.04);
  img {
    filter: brightness(0.8) saturate(1.25);
  }
}

::selection {
  background-color: var(--tg-txt-color-1);
  color: var(--tg-bg-color);
}

body {
  margin: 0;
  color: var(--tg-txt-color);
  background-color: var(--tg-bg-color);
  text-shadow: 1px 1px 1px var(--tg-txt-shadow-color);
  background-image: var(--main-bg-image);
  background-size: 7px 7px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#app {
  height: 100vh;
  overflow: auto;
}

ol.initial-type {
  list-style: decimal;
  padding-left: 40px;
  margin: 1em 0;
}

.code-JetBrains {
  display: none;
}
.code-JetBrains + [class^='language-'] code {
  font-family: 'JetBrains Mono', 'ComicShannsMono Regular', '思源黑体', '微软雅黑';
}

.viewer-wrap img {
  cursor: zoom-in;
}

// 通用链接
.primary-link,
.secondary-link,
.vp-doc a.primary-link,
.vp-doc a.secondary-link {
  padding: 1.5px;
  text-decoration-line: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 2px;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.primary-link:hover,
.vp-doc a.primary-link:hover {
  background-color: var(--tg-txt-color);
  color: var(--tg-bg-color);
  -webkit-text-decoration-color: var(--tg-txt-color);
  text-decoration-color: var(--tg-txt-color);
}
.secondary-link:hover,
.vp-doc a.secondary-link:hover {
  background-color: var(--tg-txt-color-2);
  color: var(--tg-bg-color);
  -webkit-text-decoration-color: var(--tg-txt-color-2);
  text-decoration-color: var(--tg-txt-color-2);
}


.icon-link {
  color: var(--tg-txt-color);
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
